/* GLOBAL STYLES */
*,
*::after
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto", "Arial",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0,5px;
    color: #000;
    background-color: white;
}
.container{
    width: 100%;
    max-width: 1100px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
/*BUTTON STYLES*/
.orange-btn{
    font-weight: 700;
    font-size: 13px;
    line-height: 15.23px;
    color:#fff;
    text-decoration: none ;
    padding: 12px 24px ;
    border-radius: 4px;
    background-color:#ff7500;
    display: inline-block;
}
/* HR STYLES */
.orange-hr{
    width: 80px;
    height: 3px;
    background-color:#ff7500;
}

/* SITE HEADER STYLES */
.site-header {
    padding: 16px 0px;
    border-top:solid 5px #ff7500
    text-decoration none
}
.site-header-container{
    display:flex;
    align-items: center;
}
.site-header-logo {
    display: flex;
    margin-right: auto;
}
.site-header-logo-imeg {
    width: 227px;
    height: 60px;
}
.site-header-nav {
    display: flex;
    list-style: none ;
    margin-right: 32px;
}
.site-header-nav-iteam:not(:last-child) {
    margin-right: 32px;
}
.site-header-active{
    border-bottom: 3px solid #ff7500
}
.site-header-nav-link {
    font-weight: 500;
    font-size: 13px;
    line-height: 15.23px;
    letter-spacing: 1px;
    color:#000; 
    text-transform: uppercase;
}
.site-header-nav-link:hover{
    color:#ff7500;
}
.site-header-nav-iteam:active{
    opacity: 0.60;
}



/* HERO SECTION STYLES */
.hero-section {
    padding: 80px 0 78px;
    background-color:  #252420;
    color: #ffff;
}

.hero-section-container{
    display: flex;
    justify-content: space-between;
}

.hero-section-text-wrapper {
    width: 387px;
}

.hero-section-hr {
    margin-bottom: 40px;
}
.hero-section-title {
    font-family: "Roboto-condensed","Ariel",sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 24px;
}
.hero-section-text {
    margin-bottom: 32px;
}


.hero-section-img {
    width: 510px;
    height: 510px;
    border: radius 8px;
    margin-top: -40px;
    margin-bottom: -140px;
}













